@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format ("truetype");
    font-weight: 100 900;
}

/** ===============================
                TOKENS
    =============================== **/

:root {
    --color-text-light: #FAF9F6; /* Off-white */
    --color-text-dark: #28282B; /* Matte Black */
    --color-accent-1: #FF9B22; /* Quantum Orange */
    --color-accent-2: #5F8FF5; /* Quantum Blue */
    --color-accent-3: #8b5cf6; /* Quantum Purple */
    
    --font-size-sm: 1.05rem;
    --font-size-md: 1.075rem;
    --font-size-lg: 1rem;
    
    --box-padding-md: 32px;
    
    --btn-group-gap: 0 8px;
    --dropzone-gap: 12px 0;
}

* {
    font-family: Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/** ===============================
            DROPZONE
    =============================== **/

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 36px 0;
}

#dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--dropzone-gap);
    width: 50%;
}

#dropzone__area {
    font-size: var(--font-size-sm);
    padding: 100px;
}

#dropzone__area {
    border-radius: 10px;
    border-style: dashed;
    border-width: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--dropzone-gap);
    width: 100%;
    padding: var(--box-padding-md);
}

#uploadIcon {
    width: 65px;
    height: auto;
}

#uploadFileBtn {
    width: 100%;
}

#uploadFileLabel {
    background-color: black;
    color: #fff;
    display: inline-block;
    cursor: pointer;
}

#dropzone__btnGroup {
    display: flex;
    justify-content: flex-end;
    gap: var(--btn-group-gap);
    width: 100%;
}

.invisible {
    display: none;
}

/** ===============================
                HEADER
    =============================== **/
    
header {
    background-color: var(--color-accent-3);
    padding: 24px 36px;
}

header h1 {
    color: var(--color-text-light);
}