@font-face {
    font-family: Inter;
    src: url("./assets/fonts/Inter/Inter-VariableFont_opsz\,wght.ttf") format ("truetype");
    font-weight: 100 900;
}

/** ===============================
                TOKENS
    =============================== **/

:root {
    --color-text-light: #FAF9F6; /* Off-white */
    --color-text-dark: #28282B; /* Matte Black */
    --color-bg-light: #FAF9F6; /* Off-white */
    --color-bg-dark: #28282B; /* Matte Black */
    --color-accent-1: #FF9B22; /* Quantum Orange */
    --color-accent-2: #5F8FF5; /* Quantum Blue */
    --color-accent-3: #8b5cf6; /* Quantum Purple */
    --color-accent-1-soft: #fff1dc; /* Soft Quantum Orange */
    --color-accent-1-strong: #e57912; /* Strong Quantum Orange */
    --color-accent-2-soft: #e8f1ff; /* Soft Quantum Blue */
    --color-accent-2-strong: #416ee8; /* Strong Quantum Blue */
    --color-accent-3-soft: #f1ebff; /* Soft Quantum Purple */
    --color-accent-3-strong: #6d28d9; /* Strong Quantum Purple */
    
    --font-size-sm: 1.05rem;
    --font-size-md: 1.075rem;
    --font-size-lg: 1rem;
    
    --font-weight-btn-text: 600;
    
    --btn-radius: 12px;
    --box-radius: 24px;
    
    --btn-padding-md: 12px 24px;
    --box-padding-md: 52px 32px;
    
    --btn-group-gap: 0 8px;
    --dropzone-gap: 18px 0;
}

* {
    font-family: Inter;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background-color: var(--color-bg-light);
}

/** ===============================
            DROPZONE
    =============================== **/
    
button:hover {
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 36px auto;
}

#dropzone {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--dropzone-gap);
    width: 75%;
}

#dropzone__clickable {
    width: 100%;
    cursor: pointer;
}

#dropzone__area {
    background-color: var(--color-accent-3-soft);
    border-radius: var(--box-radius);
    border-width: 4px;
    border-style: dashed;
    border-color: var(--color-accent-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: var(--dropzone-gap);
    padding: var(--box-padding-md);
    transition: 0.2s;
}

#dropzone__area:hover {
    border-color: var(--color-accent-3-strong);
}

#dropzone__area img {
    filter: brightness(0) saturate(100%) invert(11%) sepia(8%) saturate(487%) hue-rotate(201deg) brightness(99%) contrast(87%);
}

#dropzone__area p {
    color: var(--color-text-dark);
    font-weight: 900;
}

#uploadIcon {
    width: 65px;
    height: auto;
}

#uploadFileBtn {
    width: 100%;
}

#uploadFileLabel {
    background-color: var(--color-accent-3);
    color: var(--color-text-light);
    font-weight: var(--font-weight-btn-text);
    border: 3px solid var(--color-accent-3);
    border-radius: var(--btn-radius);
    display: inline-block;
    padding: var(--btn-padding-md);
    transition: 0.2s;
}

#uploadFileLabel:hover {
    background-color: var(--color-accent-3-strong);
    border: 3px solid var(--color-accent-3-strong);
}

#uploadFileLabel:active {
    background-color: var(--color-accent-3);
    border: 3px solid var(--color-accent-3);
}

#dropzone__btnGroup {
    display: flex;
    justify-content: flex-end;
    gap: var(--btn-group-gap);
    width: 100%;
}

#dropzone__btnGroup button {
    font-size: var(--font-size-sm);
    font-weight: var(--font-weight-btn-text);
    border-radius: var(--btn-radius);
    padding: var(--btn-padding-md);
    transition: 0.2s;
}

#replace-file-btn {
    background: none;
    color: var(--color-accent-3);
    border: 3px solid var(--color-accent-3);
}

#replace-file-btn:hover {
    color: var(--color-accent-3);
    background-color: var(--color-accent-3-soft);
}

#replace-file-btn:active {
    color: var(--color-text-light);
    background-color: var(--color-accent-3);
}

#upload-analyze-btn {
    background-color: var(--color-accent-3);
    color: var(--color-text-light); 
    border: 3px solid var(--color-accent-3);
}

#upload-analyze-btn:hover {
    background-color: var(--color-accent-3-strong);
    color: var(--color-text-light);
    border: 3px solid var(--color-accent-3-strong);
}

#upload-analyze-btn:active {
    background-color: var(--color-accent-3);
    color: var(--color-text-light);
    border: 3px solid var(--color-accent-3);
}

.invisible {
    display: none;
}

/** ===============================
                HEADER
    =============================== **/
    
header {
    color: var(--color-text-light);
    background-color: var(--color-accent-3);
    padding: 24px 36px;
}

header h1 {
    color: var(--color-text-light);
}